.feynman__title {
  width: 648px;
  max-width: 800px;
  min-width: 500px;
  margin: 0 auto 70px;
  padding: 100px 0 0;
  position: relative;
  z-index: 1;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}
