/* Общие стили */

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-weight: normal;
  color: #000;
}

/* Стили для header */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: #f2f2f2;
  overflow: hidden;
}

.header__title {
  max-width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 1;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 1;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.header__square-pic::before {
  content: "";
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

.logo {
  text-decoration: none;
}

.logo_place_header {
  width: 183px;
  height: 32px;
  position: absolute;
  left: 64px;
  top: 30px;
  z-index: 1;
  background-image: url(../images/logo_place_header.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
  background-image: url(../images/logo_place_footer.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Стили для description */

.description {
  width: 80%;
}

.description__two-columns {
  margin: 0 auto;
  padding-top: 100px;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  padding: 0;
  padding-right: 5px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  padding-left: 5px;
}

.two-columns__paragraph {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

/* Стили для digits */

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.digits__wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title {
  max-width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-title__section-subtitle {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.section-subtitle {
  margin: 0;
  padding: 0;
  max-width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.table__cell {
  width: 250px;
}

.table__heading {
  margin: 0;
  padding: 0;
  padding-top: 60px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* Стили для feynman */

.feynman {
  width: 100%;
  min-height: 890px;
  position: relative;
  background-color: #f2f2f2;
}

.feynman__title {
  width: 648px;
  margin: 0 auto 70px;
  padding: 100px 0 0;
  position: relative;
  z-index: 1;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  margin: 0 auto;
  padding: 0;
  position: relative;
  z-index: 1;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  z-index: 1;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__main-illustration {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* Стили для kaufman */

.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #1f1f1f;
  overflow: hidden;
}

.kaufman__wrapper {
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 90px;
}

.kaufman__triangle::before {
  content: "";
  height: 877px;
  width: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  position: absolute;
  top: 0px;
  right: -210px;
}

.section-title_theme_dark {
  position: relative;
  z-index: 1;
  color: #fff;
}

.section-subtitle_theme_dark {
  position: relative;
  z-index: 1;
  color: #fff;
}

.table_theme_dark {
  position: relative;
  z-index: 1;
  row-gap: 80px;
}

.table__list_theme_dark {
  padding-top: 80px;
}

.table__cell_theme_dark {
  width: 200px;
  color: #fff;
}

/* Стили для footer */

.footer {
  background-color: #1f1f1f;
  color: #fff;
}

.footer__columns {
  width: 90%;
  min-height: 250px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  margin: 18px 0;
  padding: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0 0 20px;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  margin-bottom: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__column-link {
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  vertical-align: middle;
}
